body {
    background-color: #FBFAF7;
    color: #232323;
    margin: 0;
    padding: ;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    position: relative;
    padding: 70px 0 0 0;
}

.header-wrapper {
    background: url(../img/initmap/knitting.png);
    border-bottom: 6px solid #f95d5d;
}

.header-wrapper h1 {
    background: url(../img/initmap/map-marker.png) no-repeat 18px 0;
    color: #f95d5d;
    font-family: 'Bree Seri', sans-serif;
    line-height: 25px;
    margin-top: 50px;
    padding: 0 0 0 100px;
}
.header-wrapper h1 span {
    color: #232323;
    font-size: 14px;
}

header .btn { text-align: left;}
header .btn span {
    font-size: 11px;
    text-align: left;
}
.navbar { 
    background: #0B3166;
    padding-bottom: 30px; 
}
.navbar-inner {
    background: #636363;
    border-radius: 0;
    box-shadow: none;
    border: none;
    filter: none;
}
.navbar .nav li  a {
    color: #fff;
    text-shadow: none;
}
.navbar .nav > li > a:hover {  color: #f95d5d;}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus { background: #f95d5d; color: #fff;}
.navbar-fixed-top { z-index: 1; }
.nav > .active { position: relative;}
.nav >  li > ul { display: none;}
.nav > .active > ul { 
    display: block;
    margin: 5px 0 0 5px;
    padding: 0;
    position: absolute;
}
.nav > li > ul > li { 
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 0 10px;
}

.content h2 { border-bottom: 1px solid #454545; }
.content h2:first-child { margin-top: 20px; }
.content h3 {
    color: #0B3166;
    margin: 15px 0 10px 0;
    font-size: 20px;
}
.content h4 { font-size: 16px; }
.content .well pre {
    border: none; 
    margin: 0;
    padding: 10px 0; 
}
.content .documentation-method {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #dcdcdc;
    padding: 10px;
}

/** Fixes conflict between bootstrap/google maps **/
div[id$=map] label { width: auto; display:inline; }
div[id$=map] img { max-width: none; }

@media (max-width: 979px) {
    body { padding-top: 0; }
    .navbar { padding-bottom: 5px; }
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
    .navbar .nav { 
        float: none;
        margin: 0; 
    }
    .navbar .nav li a { display: block; }
    .navbar .nav > li { 
        display: block;
        float: none;
    }
    .nav > .active > ul { position: static; }
    .nav > li > .documentation-items {
        margin: 0 0 0 15px;
    }
    .nav > li > ul > li {
        display: block;
        margin: 10px 0;
    }
}
#footer {
    background: #3f3f3f;
    border-radius: 4px 4px 0 0;
    color: #fff;
    margin-top: 40px;
    padding: 10px 0;
    text-align: right;
}
#footer-content {
    line-height: 30px;
    padding-right: 50px;
}