@import 'includes/_normalize';
@import 'includes/_zenburn';
@import 'bourbon/bourbon';

$main-color: #238db1;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    color: #454545;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url('http://i46.tinypic.com/2807440.png');
    border-top: 3px solid $main-color;
}

a {
    color: $main-color;
    text-decoration: none;
    @include transition ( all 0.5s ease-in );

    &:hover {
        @include transition ( all 0.5s ease-in );
        text-decoration: underline;
    }
}

.container {
    position: relative;
}


.main-content {
    width: 900px;
    margin: 0 auto;
    &.post-page {
        float: none;
        margin: 0 auto;
    }
}
.main-nav { overflow: hidden; }
.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-nav li {
    float: left;
    & + li {
        margin-left: 20px;
    }
}
.main-nav a {
    // float: left;
    display: block;
    background-color: $main-color;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
   
}

.project-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.project-list li { position: relative; }

p { margin: 0 0 14px 0; }

blockquote {
    border-left: 4px solid #ccc;
    font-style: italic;
    margin: 0 0 14px 0;
    padding: 0 0 0 15px;
}
.container table { margin: 0 0 20px 0; }
.table-bordered {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}
code {
    background: #eee;
    border-radius: 5px;
    padding: 1px 6px;
}
.no-style {
    color: #fff;
    .keyword { color: #fff; }
}

.separate, hr {
    display: block;
    border: 1px dotted #60187a;
    height: 2px;
    background: #60187a;
    margin: 20px 0;
}

.container h1,  .container h2 ,  .container h3  {
    border-bottom: 1px solid $main-color;
    color: $main-color;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px;
}

.container h1 {
    color: #454545;
    font-size: 36px;
    border-bottom: 1px solid #454545;
}

.container h2 {
    font-size: 30px;
    line-height: 40px;
}

.container h3 {
    font-size: 24px;
    line-height: 30px;
}

.container h4, .container h5   {
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}

.container h5 { font-size: 16px; }
.container h6 { font-size: 14px; }
.container .date-post {
    background: $main-color;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    left: 0px;
    line-height: 15px;
    padding: 8px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 60px;
    opacity: 0.7;
}
.project-list h2 {
    margin-left: 80px;
    margin-bottom: 40px;
}
.container .home-link  { padding: 20px 0 0 0;}
.container .read-more { text-align: right; }

.container .button {
    background-color: #979292;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 5px;
}

.container .button:hover {
    background-color: #1B445A;
    text-decoration: none;
}

.container ul.post-list {
    padding-left: 0;
    list-style: none;
}
.container ul.post-list h3 {
    margin: 10px 0 30px 70px;
    padding-top: 10px;
}
.container ul.post-list h3 a:hover {
    color: #000;
    text-decoration: none;
}

.container ul.post-list li { position: relative; }

.container .post {
    list-style-type: none;
    margin: 0;
    min-height: 57px;
    padding-bottom: 15px;
    position: relative;
}
.container .post h1 {
    margin: 20px 0 30px 70px;
}
.other-posts {
    overflow: hidden;
    .next-post, .prev-post { width: 400px; }
    .next-post { float: right; text-align: right; }
    .prev-post { float: left; }
}

.container .social {
    position: relative;
    margin-top: 20px;
}

.container .third-party-social {
    position: absolute;
    right: 0;
}
.border-image {
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 100%;
    display: block;
    height: auto;
    margin-bottom: 15px;
    &:hover { border-color: $main-color; }
}
.tags .tag {
    background: #979292;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 5px;
    text-transform: uppercase;
}

.tags .tag:hover {
    color: #fff;
    background: #60187a;
}
.bio {
    color: #fff;
    background: $main-color;
    position: relative;
    // width: 25%;
    // float: left;
    border-radius: 0 0 10px 0;
    h6 {
        border-bottom: 1px solid #fff; 
        margin: 0;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    a {
        color: #fff;
        &:hover { color: #fff; }
    
    }
    .about-me { padding: 20px; }

    .additional-info {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .button {
            background-color:  #2A6586;
            background-repeat:  no-repeat ;
            background-position : left center;
            border-bottom: 1px solid $main-color;
            padding: 12px 10px 12px 40px;
            color: #fff;
            width: 100%;
            border-radius: 0;
        }
        #twitter-account { background-image: url(/img/twitter-icon.png); }
        #github-account { background-image: url(/img/github-icon.png); }
        #coderbits-account {
            background-image: url(/img/coderbits-icon.png);
            background-position : 5px center;
        }
        #linkedin-account {
            background-image: url(/img/linkedin-icon.png);
             background-position : 5px center;
        }
    }
}

@import 'partials/small-device';