@import 'normalize';
@import 'bourbon/bourbon';
@import 'zenburn';
body {
    margin:0;
    height: 100%;
    color: #454545;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url('http://i46.tinypic.com/2807440.png');
}

a {
    color: #238db1;
    text-decoration: none;
    @include transition ( all 0.5s ease-in );

    &:hover {
        @include transition ( all 0.5s ease-in );
        text-decoration: underline;
    }
}

html, body, #wrapper { height: 100%; }
#wrapper { height: auto; min-height: 100%;}
#container {  border-top: 3px solid #238db1; }
#container > .container { padding-bottom: 150px; }

p { margin: 0 0 14px 0; }

blockquote {
    border-left: 4px solid #ccc;
    font-style: italic;
    margin: 0 0 14px 0;
    padding: 0 0 0 15px;
}
.container table { margin: 0 0 20px 0; }
.table-bordered {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}
.container {
    margin: 0 auto;
    max-width: 930px;
    padding: 0 30px 0 30px;
    position: relative;
}
code {
    background: #eee;
    border-radius: 5px;
    padding: 1px 6px;
}
.no-style {
    color: #fff;
    .keyword { color: #fff; }
}

.separate, hr {
    display: block;
    border: 1px dotted #60187a;
    height: 2px;
    background: #60187a;
    margin: 20px 0;
}

.container h1,  .container h2 ,  .container h3  {
    border-bottom: 1px solid #238DB1;
    color: #238DB1;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px;
}

.container h1 {
    color: #454545;
    font-size: 36px;
    border-bottom: 1px solid #454545;
}

.container h2 {
    font-size: 30px;
    line-height: 40px;
}

.container h3 {
    font-size: 24px;
    line-height: 30px;
}

.container h4, .container h5 , .container h6  {
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}

.container h5 { font-size: 16px; }
.container h6 { font-size: 14px; }
.container .date-post {
    background: #238db1;
    border-radius: 60px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 55px;
    left: 0px;
    line-height: 15px;
    padding: 10px 10px 0 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 40px;
    ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0.7)";
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
}

.container .home-link  { padding: 20px 0 0 0;}
.container .read-more { text-align: right; }

.container .button {
    background-color: #979292;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 5px;
}

.container .button:hover {
    background-color: #60187A;
    text-decoration: none;
}

.container ul.post-list {
    padding-left: 0;
    list-style: none;
}
.container ul.post-list h3 {
    margin: 10px 0 30px 70px;
    padding-top: 10px;
}
.container ul.post-list h3 a:hover {
    color: #000;
    text-decoration: none;
}

.container ul.post-list li { position: relative; }

.container .post {
    list-style-type: none;
    margin: 0;
    min-height: 57px;
    padding-bottom: 15px;
    position: relative;
}
.container .post h1 {
    margin: 20px 0 30px 70px;
}
.other-posts {
    overflow: hidden;
    .next-post, .prev-post { width: 400px; }
    .next-post { float: right; text-align: right; }
    .prev-post { float: left; }
}

.container .social {
    position: relative;
    margin-top: 20px;
}

.container .third-party-social {
    position: absolute;
    right: 0;
}
.tags a.tag {
    background: #979292;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 5px;
    text-transform: uppercase;
}

.tags .tag:hover {
    color: #fff;
    background: #60187a;
}
.footer {
    background: #3F3F3F;
    height: 150px;
    margin-top: -150px;
    overflow: hidden;
    position: relative;
    width: 100%;

    .footer-content {
        color: #fff;
        margin: 0 auto;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;

        a {
            color: #01B7EE;
            &:hover { color: #01B7EE; }
        }
        h6 {
            color: #fff;
            border: none;
            font-weight: normal;
            font-size: 18px;
            margin: 0 0 10px 0;
        }
    }
    .about-me {
        float: left;
        min-width: 300px;
    }
    .additional-info {
        float: left;
        margin-top: 27px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                float: left;
                margin: 0 5px 5px 5px;
            }
        }
        .button {
            background-repeat:  no-repeat ;
            background-position : left center;
            padding: 12px 10px 12px 40px;
            color: #fff;
        }
        #twitter-account { background-image: url(/img/twitter-icon.png); }
        #github-account { background-image: url(/img/github-icon.png); }
        #coderbits-account {
            background-image: url(/img/coderbits-icon.png);
            background-position : 5px center;
        }
        #linkedin-account {
            background-image: url(/img/linkedin-icon.png);
             background-position : 5px center;
        }
    }
}

@import 'small-device'