<!doctype html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% if page.title %} {{ page.title }} {% else %} Jérôme Smadja - Développeur web - Blog  {% endif %}</title>
        <meta name="description" content="Blog de Jérôme Smadja, Développeur Web, Paris">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" href="/css/main.css">
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <![endif]-->
        <script src="/js/highlight.min.js" type="text/javascript"></script>
    </head>
<body>
  <div class="container">
    <section class="main-content {% if page.published_date  %} post-page {% endif %}">
        <nav class="main-nav">
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/projets.html">Projets</a></li>
            </ul>
        </nav>