<!DOCTYPE html>
<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title> {{ page.title }} </title>
        <meta name="description" content="Blog de Jérôme Smadja, Développeur Web, Paris">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" href="/css/main.css">
        <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <![endif]-->
        <script src="/js/prism.js"></script>
    </head>
<body>
    <header class="Header">
       <nav class="Nav Nav--secondary">
            <ul class="Nav-list">
                <li class="Nav-listItem"><a href="/" class="AnimatedLink Link">Blog</a></li>
                <li class="Nav-listItem"><a href="/projets.html" class="AnimatedLink Link">Projets</a></li>
                <li class="Nav-listItem"><a href="/contact.html" class="AnimatedLink Link">Contact</a></li>
            </ul>
            </nav>
    </header>
