<!doctype html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% if page.title %} {{ page.title }} {% else %} Jérôme Smadja - Développeur web - Blog  {% endif %}</title>
        <meta name="description" content="Blog de Jérôme Smadja, développeur web à Melbourne">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/zenburn.min.css">
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <![endif]-->
        <script src="/js/highlight.min.js" type="text/javascript"></script>
    </head>
<body>
    <div id="wrapper">
        <div id="container">
            <section class="container">