@media only screen and (max-width: 767px) {
    $margin_bottom_post : 20px;
    
    .main-content, .bio { width: 100%; }
    .main-content { padding: 15px;}
    .container {
        ul.post-list h3 {
            margin-left: 0;
            margin-bottom: $margin_bottom_post;
        }
        .date-post {
            border-radius: 0 0 20px 20px ;
            position: static;
            float: left;
            margin-top: -$margin_bottom_post;
            margin-right: 20px;
            padding-top: 5px;
        }
        .post {
            h1 {
                margin-left: 0;
                margin-bottom: $margin_bottom_post;
            }
            .date-post { margin-top: -$margin_bottom_post; }
        }
    }
}
