{% include header-home.html %}
    <section>
        <ul class="List">
        {% for post in site.posts %}
            <li class="List-item">
                <div class="Post-titleContainer">
                    <div class="Post-fullWidth">
                      <span class="Post-date">{{ post.published_date }}</span>
                        <h2 class="Post-title">
                            <a href="{{ post.url }}" class="AnimatedLink Post-link">{{ post.title }}</a>
                        </h2>
                       <!--  <div class="Tag">
                            <span class="Tag-item">javascript</span><span class="Tag-item">css</span><span class="Tag-item">media-query</span><span class="Tag-item">responsive design</span>
                        </div> -->
                    </div>
                </div>
                <div class="MainText">
                   {{ post.excerpt }}
                   <p class="u-Right"><a class="Link" href="{{ post.url }}">Lire la suite &gt;</a></p>
                </div>
            </li>
        {% endfor %}
        </ul>
    </section>
{% include footer.html %}