{% include header.html %}
<h1>Projets personnels</h1>
<ul class="project-list">
    <li>
        <h2>Site Montoya</h2>
        <p class="date-post">Juil 2014</p>
        <a href="http://yomontoya.com"><img src="/img/montoya.png" alt="Site montoya" class="border-image"></a>
        <p>Réalisation de la partie front du site</p>
        <p>Intégration du player Soundcloud avec custom controles.</p>
        <div class="tags">
            <span class="tag">#html5</span>
            <span class="tag">#canvas</span>
            <span class="tag">#nojquery</span>
            <span class="tag">#javascript</span>
            <span class="tag">#animation</span>
            <span class="tag">#onepage</span>
        </div>
        <p class="read-more"><a href="http://yomontoya.com" class="button">Voir le site</a></p>
    </li>
    <li>
        <h2>initmap.js jQuery plugin pour Google Maps</h2>
        <p class="date-post">Mai 2013</p>
        <a href="/initmapjs/"><img src="/img/initmapjs.png" alt="Site initmapjs" class="border-image"></a>
        <p>Réalisation d'un plugin jQuery open source, pour faciliter l'utilisation de Google Maps.</p>
        <p>Création de la documentation.</p>
        <div class="tags">
            <span class="tag">#jQuery</span>
            <span class="tag">#plugin</span>
            <span class="tag">#googlemaps</span>
            <span class="tag">#documentation</span>
            <span class="tag">#javascript</span>
            <span class="tag">#opensource</span>
        </div>
        <p class="read-more"><a href="/initmapjs/" class="button">Voir le plugin</a></p>
    </li>
</ul>

{% include footer.html %}